<mat-toolbar color="primary">
	<mat-icon class="app-icon">token</mat-icon>
	<span class="appName">HighPerformance</span>
	<span class="spacer"></span>
	<button mat-flat-button
					*ngIf="user" routerLinkActive="active"
					[routerLinkActiveOptions]="{exact: true}"
					routerLink="/profile"
					color="primary"
					class="menu-button">
		{{user.firstname + ' ' + user.lastname}}
	</button>

	<button mat-icon-button aria-label="Logout button" (click)="handleLogout()">
		<mat-icon>logout</mat-icon>
	</button>
</mat-toolbar>
