main{
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
}

main.loggedin {
	display: grid;
	grid-template-areas: "sidenav main";
	grid-template-columns: 1fr 7fr;
	position: relative;
}

app-sidebar {
	grid-area: sidenav;
}

.main-content {
	grid-area: main;
	padding: 20px;
}


button.menu-button:hover{
	background: rgba(0,0,0,0.6);
}

button.menu-button.active{
	background: rgba(255,255,255,0.2);
}

button.menu-button.active:hover{
	background: rgba(255,255,255,0.1);
}

button a,
button a:active,
button a:visited,
button a:hover {
	color: white;
	text-decoration: none;
}

.api {
	position: absolute;
	right: 10px;
	bottom: 10px;
}





