<div class="card profile p-2">
	<h2 class="card-header">
		Profile
	</h2>
	<div class="card-body">
		<div class="container">
			<div>

				<div class="card p-2">
					<h3 class="card-header">
						Personal Informations
					</h3>
					<div class="card-body fields" *ngIf="updatedValues">
						<div>
							<mat-form-field>
								<mat-label>Username</mat-label>
								<input [readonly]="user.role === ROLES.SALESMAN" matInput type="text" (input)="handleChange()"
									[(ngModel)]="updatedValues.username" />
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<mat-label>Firstname</mat-label>
								<input [readonly]="user.role === ROLES.SALESMAN" matInput type="text" (input)="handleChange()"
									[(ngModel)]="updatedValues.firstname" />
							</mat-form-field>
							<mat-form-field>
								<mat-label>Lastname</mat-label>
								<input [readonly]="user.role === ROLES.SALESMAN" matInput type="text" (input)="handleChange()"
									[(ngModel)]="updatedValues.lastname" />
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<mat-label>Email</mat-label>
								<input [readonly]="user.role === ROLES.SALESMAN" matInput type="email" (input)="handleChange()"
									[(ngModel)]="updatedValues.email" />
							</mat-form-field>
							<mat-form-field class="example-form-field">
								<mat-label>Role</mat-label>
								<select [disable]="user.role === ROLES.SALESMAN" matNativeControl (change)="handleChange()"
									[(ngModel)]="updatedValues.role">
									<option value="ADMIN">ADMIN</option>
									<option value="HR">HR</option>
									<option value="SM">SALESMAN</option>
								</select>
							</mat-form-field>
						</div>
						<button mat-raised-button [disabled]="!isChanged || user.role === ROLES.SALESMAN" (click)="saveChanges()"
							color="primary" class="actionBtn">
							Save Changes
						</button>
					</div>
				</div>
			</div>

			<div>
				<div class="card p-2">
					<h3 class="card-header">
						Security
					</h3>
					<div class="card-body fields" *ngIf="updatedValues">
						<div>
							<mat-form-field>
								<mat-label>Old Password</mat-label>
								<input matInput type="password" autocomplete="off" [(ngModel)]="oldPassword" />
							</mat-form-field>
						</div>

						<div>
							<mat-form-field>
								<mat-label>New Password</mat-label>
								<input matInput type=" password" autocomplete="off" [(ngModel)]="newPassword" />
							</mat-form-field>
							<mat-form-field>
								<mat-label>Confirm New Password</mat-label>
								<input matInput type=" password" autocomplete="off" [(ngModel)]="confirmNewPassword" />
							</mat-form-field>
						</div>

						<button mat-raised-button (click)="handleEditClick(element)" color="primary" class="actionBtn">Change
							Password</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div #updateModal class="modal__container">
	<div class="card updateModal">
		<h1>Are you sure to change your Password</h1>
		<mat-divider></mat-divider>

		<div class="modalBtn__container">
			<button (click)="showCloseUpdateModal();" mat-button color="warn">Cancel</button>
			<button mat-button color="primary" (click)="savePassword(); showCloseUpdateModal();">
				Save
			</button>
		</div>

	</div>
</div>
