.sidenav {
	padding: 20px 10px;
	background-color: #3f51b5;
	height: 100%;
}

.sidenav-menu-button {
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	cursor: default;
}

.sidenav-button {
	width: 75%;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 5px;
	float: right;
	color: white;
}

.sidenav-button:hover {
	background: rgba(0,0,0,0.2);
}

.arrow:after {
	content: '\27A4';
	float: right;
}

.sidenav-button:last-child {
	margin-bottom: 30px;
}
