<mat-drawer-container>
	<mat-drawer mode="side" opened>
		<div class="menu-group">
			<button class="sidenav-menu-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				Salesmen Manager
			</button>
			<button class="sidenav-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				Salesmen
			</button>
			<button class="sidenav-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				Social Records
			</button>
			<button class="sidenav-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				Bonus Salary
			</button>
		</div>

		<div class="menu-group">
			<button class="sidenav-menu-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				Menu ...
			</button>
			<button class="sidenav-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				link 1 ...
			</button>
			<button class="sidenav-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				link 2 ...
			</button>
			<button class="sidenav-button" mat-raised-button routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" routerLink="/salesman">
				link 3 ...
			</button>
		</div>
	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
